In [1]:
mkdir data

In [2]:
!wget -q https://files.grouplens.org/datasets/movielens/ml-latest-small.zip -O data/ml-latest-small.zip

In [3]:
!unzip -q data/ml-latest-small.zip -d data

In [4]:
import pandas as pd

In [5]:
movies = pd.read_csv("/content/data/ml-latest-small/movies.csv")
ratings = pd.read_csv("/content/data/ml-latest-small/ratings.csv")

In [6]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [7]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [8]:
df = pd.merge(ratings, movies, on="movieId")

In [9]:
df

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,Split (2017),Drama|Horror|Thriller
100832,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,610,168250,5.0,1494273047,Get Out (2017),Horror
100834,610,168252,5.0,1493846352,Logan (2017),Action|Sci-Fi
100835,610,170875,3.0,1493846415,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [10]:
movie_matrix = df.pivot_table(index='userId', columns='title', values='rating')

In [11]:
movie_matrix

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [12]:
rating_count = df.groupby('title')['rating'].count()
rating_count

title
'71 (2014)                                    1
'Hellboy': The Seeds of Creation (2004)       1
'Round Midnight (1986)                        2
'Salem's Lot (2004)                           1
'Til There Was You (1997)                     2
                                             ..
eXistenZ (1999)                              22
xXx (2002)                                   24
xXx: State of the Union (2005)                5
¡Three Amigos! (1986)                        26
À nous la liberté (Freedom for Us) (1931)     1
Name: rating, Length: 9719, dtype: int64

In [13]:
popular_movies = rating_count[rating_count > 100].index

In [14]:
movie_matrix = movie_matrix[popular_movies]

In [15]:
movie_matrix

title,2001: A Space Odyssey (1968),Ace Ventura: Pet Detective (1994),Aladdin (1992),Alien (1979),Aliens (1986),"Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",American Beauty (1999),American History X (1998),American Pie (1999),Apocalypse Now (1979),...,True Lies (1994),"Truman Show, The (1998)",Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Twister (1996),Up (2009),"Usual Suspects, The (1995)",WALL·E (2008),Waterworld (1995),Willy Wonka & the Chocolate Factory (1971),X-Men (2000)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,4.0,NaN,NaN,5.0,5.0,NaN,4.0,...,NaN,NaN,NaN,3.0,NaN,5.0,NaN,NaN,5.0,5.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,4.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN
5,NaN,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,5.0,NaN,NaN,4.0,3.5,4.5,4.5,4.0,1.0,4.5,...,NaN,4.5,4.0,NaN,NaN,4.5,4.0,NaN,NaN,NaN
607,NaN,NaN,NaN,3.0,NaN,NaN,3.0,NaN,NaN,NaN,...,4.0,NaN,NaN,5.0,NaN,NaN,NaN,3.0,NaN,3.0
608,3.0,3.5,3.0,4.0,4.5,NaN,5.0,4.0,2.5,3.0,...,3.0,4.5,3.5,3.0,NaN,4.5,NaN,3.0,3.5,4.0
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
610,4.5,3.0,NaN,4.5,5.0,4.0,3.5,NaN,NaN,5.0,...,5.0,5.0,4.5,NaN,3.5,4.0,4.5,NaN,NaN,3.5

In [16]:
my_profile_data = {
    'title': ['Matrix, The (1999)', 'Forrest Gump (1994)', 'Star Wars: Episode IV - A New Hope (1977)'],
    'rating': [5, 2, 5],
}

In [17]:
my_ratings = pd.DataFrame(my_profile_data)

In [18]:
my_ratings.to_csv('my_likes.csv', index=False)

In [19]:
similar_movies = pd.DataFrame()

In [20]:
movie_matrix

title,2001: A Space Odyssey (1968),Ace Ventura: Pet Detective (1994),Aladdin (1992),Alien (1979),Aliens (1986),"Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",American Beauty (1999),American History X (1998),American Pie (1999),Apocalypse Now (1979),...,True Lies (1994),"Truman Show, The (1998)",Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Twister (1996),Up (2009),"Usual Suspects, The (1995)",WALL·E (2008),Waterworld (1995),Willy Wonka & the Chocolate Factory (1971),X-Men (2000)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,4.0,NaN,NaN,5.0,5.0,NaN,4.0,...,NaN,NaN,NaN,3.0,NaN,5.0,NaN,NaN,5.0,5.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,4.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN
5,NaN,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,5.0,NaN,NaN,4.0,3.5,4.5,4.5,4.0,1.0,4.5,...,NaN,4.5,4.0,NaN,NaN,4.5,4.0,NaN,NaN,NaN
607,NaN,NaN,NaN,3.0,NaN,NaN,3.0,NaN,NaN,NaN,...,4.0,NaN,NaN,5.0,NaN,NaN,NaN,3.0,NaN,3.0
608,3.0,3.5,3.0,4.0,4.5,NaN,5.0,4.0,2.5,3.0,...,3.0,4.5,3.5,3.0,NaN,4.5,NaN,3.0,3.5,4.0
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
610,4.5,3.0,NaN,4.5,5.0,4.0,3.5,NaN,NaN,5.0,...,5.0,5.0,4.5,NaN,3.5,4.0,4.5,NaN,NaN,3.5

In [21]:
# for index, row in my_ratings.iterrows():
#   my_movie = row['title']
#   my_rating = row['rating']

#   if my_movie in movie_matrix.columns:
#     print(my_movie)
#     corr_scores = movie_matrix.corrwith(movie_matrix[my_movie])

#     weighted_scores = corr_scores * (my_rating - 2.5)

#     similar_movies = pd.concat([similar_movies, weighted_scores], axis=1)
# corr_scores

for index, row in my_ratings.iterrows():
    my_movie = row['title']
    my_rating = row['rating']
    weight = my_rating - 2.5

    if my_movie in movie_matrix.columns:
        # --- DEBUG STEP 1: Identifying the Movie ---
        print(f"🎬 ITEM: '{my_movie}'")
        print(f"   - Your Rating: {my_rating}")
        print(f"   - Calculated Weight: {weight} (Pos=Recommend, Neg=Avoid)")

        # --- DEBUG STEP 2: Calculating Correlation ---
        # We find how this movie relates to ALL others
        corr_scores = movie_matrix.corrwith(movie_matrix[my_movie])

        # --- DEBUG STEP 3: Show Top Matches (Validation) ---
        # Let's see the top 5 movies most similar to this one
        top_matches = corr_scores.sort_values(ascending=False)[1:6]
        print(f"   - Top 5 Similar Movies found in DB:")
        for title, score in top_matches.items():
            print(f"      * {title[:40]:<40} | Corr: {score:.3f}")

        # --- DEBUG STEP 4: Apply Weight ---
        weighted_scores = corr_scores * weight

        # --- DEBUG STEP 5: Store and Combine ---
        similar_movies = pd.concat([similar_movies, weighted_scores], axis=1)
        print(f"✅ Successfully added '{my_movie}' to the recommendation pool.\n")
    else:
        print(f"⚠️  SKIPPING: '{my_movie}' (Not found in popular movies list)\n")

print(f"{'='*60}")
print("DEBUG COMPLETE. Ready to sum scores.")

🎬 ITEM: 'Matrix, The (1999)'
   - Your Rating: 5
   - Calculated Weight: 2.5 (Pos=Recommend, Neg=Avoid)
   - Top 5 Similar Movies found in DB:
      * Die Hard (1988)                          | Corr: 0.544
      * Inception (2010)                         | Corr: 0.515
      * Braveheart (1995)                        | Corr: 0.496
      * Aliens (1986)                            | Corr: 0.471
      * Lion King, The (1994)                    | Corr: 0.445
✅ Successfully added 'Matrix, The (1999)' to the recommendation pool.

🎬 ITEM: 'Forrest Gump (1994)'
   - Your Rating: 2
   - Calculated Weight: -0.5 (Pos=Recommend, Neg=Avoid)
   - Top 5 Similar Movies found in DB:
      * Good Will Hunting (1997)                 | Corr: 0.484
      * Aladdin (1992)                           | Corr: 0.464
      * American History X (1998)                | Corr: 0.457
      * Truman Show, The (1998)                  | Corr: 0.433
      * Braveheart (1995)                        | Corr: 0.417
✅ Successfully added 'Forrest Gump (1994)' to the recommendation pool.

🎬 ITEM: 'Star Wars: Episode IV - A New Hope (1977)'
   - Your Rating: 5
   - Calculated Weight: 2.5 (Pos=Recommend, Neg=Avoid)
   - Top 5 Similar Movies found in DB:
      * Star Wars: Episode V - The Empire Strike | Corr: 0.778
      * Star Wars: Episode VI - Return of the Je | Corr: 0.734
      * Fugitive, The (1993)                     | Corr: 0.482
      * Indiana Jones and the Last Crusade (1989 | Corr: 0.411
      * Lord of the Rings: The Return of the Kin | Corr: 0.407
✅ Successfully added 'Star Wars: Episode IV - A New Hope (1977)' to the recommendation pool.

============================================================
DEBUG COMPLETE. Ready to sum scores.

In [22]:
movie_matrix

title,2001: A Space Odyssey (1968),Ace Ventura: Pet Detective (1994),Aladdin (1992),Alien (1979),Aliens (1986),"Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",American Beauty (1999),American History X (1998),American Pie (1999),Apocalypse Now (1979),...,True Lies (1994),"Truman Show, The (1998)",Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Twister (1996),Up (2009),"Usual Suspects, The (1995)",WALL·E (2008),Waterworld (1995),Willy Wonka & the Chocolate Factory (1971),X-Men (2000)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,4.0,NaN,NaN,5.0,5.0,NaN,4.0,...,NaN,NaN,NaN,3.0,NaN,5.0,NaN,NaN,5.0,5.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,4.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN
5,NaN,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,5.0,NaN,NaN,4.0,3.5,4.5,4.5,4.0,1.0,4.5,...,NaN,4.5,4.0,NaN,NaN,4.5,4.0,NaN,NaN,NaN
607,NaN,NaN,NaN,3.0,NaN,NaN,3.0,NaN,NaN,NaN,...,4.0,NaN,NaN,5.0,NaN,NaN,NaN,3.0,NaN,3.0
608,3.0,3.5,3.0,4.0,4.5,NaN,5.0,4.0,2.5,3.0,...,3.0,4.5,3.5,3.0,NaN,4.5,NaN,3.0,3.5,4.0
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
610,4.5,3.0,NaN,4.5,5.0,4.0,3.5,NaN,NaN,5.0,...,5.0,5.0,4.5,NaN,3.5,4.0,4.5,NaN,NaN,3.5

In [23]:
weighted_scores

title
2001: A Space Odyssey (1968)                  0.892923
Ace Ventura: Pet Detective (1994)             0.123250
Aladdin (1992)                                0.542927
Alien (1979)                                  0.263002
Aliens (1986)                                 0.403832
                                                ...
Usual Suspects, The (1995)                    0.710702
WALL·E (2008)                                 0.679670
Waterworld (1995)                            -0.638639
Willy Wonka & the Chocolate Factory (1971)   -0.215372
X-Men (2000)                                  0.167330
Length: 134, dtype: float64

In [24]:
final_scores = similar_movies.sum(axis=1)

In [25]:
final_scores = final_scores.sort_values(ascending=False)

In [26]:
recommendations = final_scores.drop(my_ratings['title'], errors='ignore')

In [27]:
recommendations

Star Wars: Episode V - The Empire Strikes Back (1980)    2.701841
Star Wars: Episode VI - Return of the Jedi (1983)        2.386319
Fugitive, The (1993)                                     2.109549
Inception (2010)                                         2.011125
Die Hard (1988)                                          1.973012
                                                           ...
Harry Potter and the Chamber of Secrets (2002)          -0.049015
Net, The (1995)                                         -0.058635
Willy Wonka & the Chocolate Factory (1971)              -0.313828
Ghost (1990)                                            -0.817184
Waterworld (1995)                                       -0.824373
Length: 131, dtype: float64

# Content Based recommending

In [28]:
movies['metadata'] = movies['genres'].str.replace('|', ' ')

In [29]:
print(movies[['title', 'metadata']].head())

                                title  \
0                    Toy Story (1995)
1                      Jumanji (1995)
2             Grumpier Old Men (1995)
3            Waiting to Exhale (1995)
4  Father of the Bride Part II (1995)

                                      metadata
0  Adventure Animation Children Comedy Fantasy
1                   Adventure Children Fantasy
2                               Comedy Romance
3                         Comedy Drama Romance
4                                       Comedy

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [31]:
tfidf = TfidfVectorizer(stop_words='english')

In [32]:
tfidf_matrix = tfidf.fit_transform(movies['metadata'])

In [33]:
tfidf_matrix[0]

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 5 stored elements and shape (1, 23)>

In [34]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [35]:
cosine_sim

array([[1.        , 0.81357774, 0.15276924, ..., 0.        , 0.4210373 ,
        0.26758648],
       [0.81357774, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.15276924, 0.        , 1.        , ..., 0.        , 0.        ,
        0.57091541],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.4210373 , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.26758648, 0.        , 0.57091541, ..., 0.        , 0.        ,
        1.        ]])

In [36]:
def get_rec(movie_title, cosine_sim=cosine_sim):
  idx = movies.index[movies['title'] == movie_title][0]

  sim_scores = list(enumerate(cosine_sim[idx]))
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  sim_scores = sim_scores[1:11]

  movie_indice = [i[0] for i in sim_scores]
  return movies[['title', 'metadata']].iloc[movie_indice]

In [37]:
print(get_rec('Toy Story (1995)'))

                                                  title  \
1706                                        Antz (1998)
2355                                 Toy Story 2 (1999)
2809     Adventures of Rocky and Bullwinkle, The (2000)
3000                   Emperor's New Groove, The (2000)
3568                              Monsters, Inc. (2001)
6194                                   Wild, The (2006)
6486                             Shrek the Third (2007)
6948                     Tale of Despereaux, The (2008)
7760  Asterix and the Vikings (Astérix et les Viking...
8219                                       Turbo (2013)

                                         metadata
1706  Adventure Animation Children Comedy Fantasy
2355  Adventure Animation Children Comedy Fantasy
2809  Adventure Animation Children Comedy Fantasy
3000  Adventure Animation Children Comedy Fantasy
3568  Adventure Animation Children Comedy Fantasy
6194  Adventure Animation Children Comedy Fantasy
6486  Adventure Animation Children Comedy Fantasy
6948  Adventure Animation Children Comedy Fantasy
7760  Adventure Animation Children Comedy Fantasy
8219  Adventure Animation Children Comedy Fantasy

# Content Based + titles

In [38]:
# Create a 'soup' of words
def create_soup(x):
    # Combine Title and Genres into one string
    # We lower() everything so 'Action' and 'action' match
    return x['title'].lower() + ' ' + x['genres'].lower().replace('|', ' ')

movies['soup'] = movies.apply(create_soup, axis=1)

print(movies[['title', 'soup']].head())

                                title  \
0                    Toy Story (1995)
1                      Jumanji (1995)
2             Grumpier Old Men (1995)
3            Waiting to Exhale (1995)
4  Father of the Bride Part II (1995)

                                                soup
0  toy story (1995) adventure animation children ...
1          jumanji (1995) adventure children fantasy
2             grumpier old men (1995) comedy romance
3      waiting to exhale (1995) comedy drama romance
4          father of the bride part ii (1995) comedy

In [39]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(movies['soup'])

In [40]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [41]:
def get_hyb_rec(movie_title):
  idx = movies.index[movies['title'] == movie_title][0]

  sim_scores = list(enumerate(cosine_sim[idx]))

  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

  sim_scores = sim_scores[1:11]

  # 5. Return results
  movie_indices = [i[0] for i in sim_scores]
  return movies[['title', 'genres']].iloc[movie_indices]

In [42]:
print(get_hyb_rec('Toy Story (1995)'))

                                      title  \
2355                     Toy Story 2 (1999)
7355                     Toy Story 3 (2010)
3595                        Toy, The (1982)
2539  We're Back! A Dinosaur's Story (1993)
26                      Now and Then (1995)
4089                    Toy Soldiers (1991)
1617          NeverEnding Story, The (1984)
6194                       Wild, The (2006)
1                            Jumanji (1995)
12                             Balto (1995)

                                                genres
2355       Adventure|Animation|Children|Comedy|Fantasy
7355  Adventure|Animation|Children|Comedy|Fantasy|IMAX
3595                                            Comedy
2539              Adventure|Animation|Children|Fantasy
26                                      Children|Drama
4089                                      Action|Drama
1617                        Adventure|Children|Fantasy
6194       Adventure|Animation|Children|Comedy|Fantasy
1                           Adventure|Children|Fantasy
12                        Adventure|Animation|Children

# Evaluation based on a random user

In [ ]:
user_id = 432

In [59]:
user_data = df[df['userId'] == user_id]
user_data

,userId,movieId,rating,timestamp,title,genres
66798,432,1,2.5,1316391457,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
66799,432,2,4.0,1316391739,Jumanji (1995),Adventure|Children|Fantasy
66800,432,19,2.0,1316391760,Ace Ventura: When Nature Calls (1995),Comedy
66801,432,25,4.5,1315243647,Leaving Las Vegas (1995),Drama|Romance
66802,432,36,3.5,1316391708,Dead Man Walking (1995),Crime|Drama
...,...,...,...,...,...,...
67053,432,89208,3.5,1328049786,Walled In (2009),Horror|Thriller
67054,432,91630,4.0,1335139828,Mission: Impossible - Ghost Protocol (2011),Action|Adventure|Thriller|IMAX
67055,432,91658,5.0,1328049614,"Girl with the Dragon Tattoo, The (2011)",Drama|Thriller
67056,432,92348,4.0,1328049736,Puss in Boots (Nagagutsu o haita neko) (1969),Adventure|Animation|Children|Comedy|Fantasy|Ro...
67057,432,92391,4.0,1328049771,Grave Encounters (2011),Horror

In [60]:
user_data = user_data[user_data['title'].isin(movie_matrix.columns)]
user_data

,userId,movieId,rating,timestamp,title,genres
66798,432,1,2.5,1316391457,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
66799,432,2,4.0,1316391739,Jumanji (1995),Adventure|Children|Fantasy
66803,432,47,4.0,1315244565,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
66804,432,50,3.0,1315243055,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
66805,432,110,4.0,1315245004,Braveheart (1995),Action|Drama|War
...,...,...,...,...,...,...
66997,432,48516,2.5,1315244545,"Departed, The (2006)",Crime|Drama|Thriller
67010,432,58559,4.0,1315244558,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
67015,432,60069,4.0,1328232676,WALL·E (2008),Adventure|Animation|Children|Romance|Sci-Fi
67026,432,68954,4.0,1328232867,Up (2009),Adventure|Animation|Children|Drama
67040,432,79132,4.5,1315244386,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX

In [61]:
liked_movies = user_data[user_data['rating'] >= 4.0]
liked_movies

,userId,movieId,rating,timestamp,title,genres
66799,432,2,4.0,1316391739,Jumanji (1995),Adventure|Children|Fantasy
66803,432,47,4.0,1315244565,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
66805,432,110,4.0,1315245004,Braveheart (1995),Action|Drama|War
66809,432,185,4.5,1316391649,"Net, The (1995)",Action|Crime|Thriller
66811,432,253,4.5,1316391617,Interview with the Vampire: The Vampire Chroni...,Drama|Horror
66817,432,356,4.5,1315244359,Forrest Gump (1994),Comedy|Drama|Romance|War
66818,432,364,5.0,1316391519,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
66822,432,480,4.5,1316391434,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller
66824,432,527,4.5,1315243043,Schindler's List (1993),Drama|War
66825,432,587,4.5,1316391594,Ghost (1990),Comedy|Drama|Fantasy|Romance|Thriller
66827,432,590,4.5,1316391470,Dances with Wolves (1990),Adventure|Drama|Western
66828,432,593,4.0,1315244942,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller
66829,432,595,4.0,1316391532,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
66830,432,597,4.0,1316391561,Pretty Woman (1990),Comedy|Romance
66832,432,648,4.0,1316391512,Mission: Impossible (1996),Action|Adventure|Mystery|Thriller
66835,432,858,4.0,1315243036,"Godfather, The (1972)",Crime|Drama
66841,432,1200,4.0,1328232756,Aliens (1986),Action|Adventure|Horror|Sci-Fi
66842,432,1206,4.0,1315243615,"Clockwork Orange, A (1971)",Crime|Drama|Sci-Fi|Thriller
66844,432,1214,4.0,1316391601,Alien (1979),Horror|Sci-Fi
66845,432,1221,4.0,1315243038,"Godfather: Part II, The (1974)",Crime|Drama
66860,432,1704,4.5,1315244133,Good Will Hunting (1997),Drama|Romance
66861,432,1721,4.0,1316391552,Titanic (1997),Drama|Romance
66877,432,2329,4.5,1315243006,American History X (1998),Crime|Drama
66884,432,2628,4.0,1316391576,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Sci-Fi
66889,432,2762,4.0,1316391535,"Sixth Sense, The (1999)",Drama|Horror|Mystery
66896,432,3147,4.0,1315244974,"Green Mile, The (1999)",Crime|Drama
66902,432,3578,4.5,1315244401,Gladiator (2000),Action|Adventure|Drama
66907,432,3793,4.0,1316391657,X-Men (2000),Action|Adventure|Sci-Fi
66917,432,4306,4.5,1316391131,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...
66920,432,4886,4.0,1316391757,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy
66927,432,4995,4.5,1316391806,"Beautiful Mind, A (2001)",Drama|Romance
66931,432,5418,4.5,1328232881,"Bourne Identity, The (2002)",Action|Mystery|Thriller
66932,432,5445,4.0,1316391715,Minority Report (2002),Action|Crime|Mystery|Sci-Fi|Thriller
66940,432,5952,4.0,1316391585,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
66941,432,5989,4.0,1328050236,Catch Me If You Can (2002),Crime|Drama
66960,432,7153,4.0,1316391638,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
67010,432,58559,4.0,1315244558,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
67015,432,60069,4.0,1328232676,WALL·E (2008),Adventure|Animation|Children|Romance|Sci-Fi
67026,432,68954,4.0,1328232867,Up (2009),Adventure|Animation|Children|Drama
67040,432,79132,4.5,1315244386,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX

In [50]:
liked_movies

,userId,movieId,rating,timestamp,title,genres
66799,432,2,4.0,1316391739,Jumanji (1995),Adventure|Children|Fantasy
66803,432,47,4.0,1315244565,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
66805,432,110,4.0,1315245004,Braveheart (1995),Action|Drama|War
66809,432,185,4.5,1316391649,"Net, The (1995)",Action|Crime|Thriller
66811,432,253,4.5,1316391617,Interview with the Vampire: The Vampire Chroni...,Drama|Horror
66817,432,356,4.5,1315244359,Forrest Gump (1994),Comedy|Drama|Romance|War
66818,432,364,5.0,1316391519,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
66822,432,480,4.5,1316391434,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller
66824,432,527,4.5,1315243043,Schindler's List (1993),Drama|War
66825,432,587,4.5,1316391594,Ghost (1990),Comedy|Drama|Fantasy|Romance|Thriller
66827,432,590,4.5,1316391470,Dances with Wolves (1990),Adventure|Drama|Western
66828,432,593,4.0,1315244942,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller
66829,432,595,4.0,1316391532,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
66830,432,597,4.0,1316391561,Pretty Woman (1990),Comedy|Romance
66832,432,648,4.0,1316391512,Mission: Impossible (1996),Action|Adventure|Mystery|Thriller
66835,432,858,4.0,1315243036,"Godfather, The (1972)",Crime|Drama
66841,432,1200,4.0,1328232756,Aliens (1986),Action|Adventure|Horror|Sci-Fi
66842,432,1206,4.0,1315243615,"Clockwork Orange, A (1971)",Crime|Drama|Sci-Fi|Thriller
66844,432,1214,4.0,1316391601,Alien (1979),Horror|Sci-Fi
66845,432,1221,4.0,1315243038,"Godfather: Part II, The (1974)",Crime|Drama
66860,432,1704,4.5,1315244133,Good Will Hunting (1997),Drama|Romance
66861,432,1721,4.0,1316391552,Titanic (1997),Drama|Romance
66877,432,2329,4.5,1315243006,American History X (1998),Crime|Drama
66884,432,2628,4.0,1316391576,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Sci-Fi
66889,432,2762,4.0,1316391535,"Sixth Sense, The (1999)",Drama|Horror|Mystery
66896,432,3147,4.0,1315244974,"Green Mile, The (1999)",Crime|Drama
66902,432,3578,4.5,1315244401,Gladiator (2000),Action|Adventure|Drama
66907,432,3793,4.0,1316391657,X-Men (2000),Action|Adventure|Sci-Fi
66917,432,4306,4.5,1316391131,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...
66920,432,4886,4.0,1316391757,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy
66927,432,4995,4.5,1316391806,"Beautiful Mind, A (2001)",Drama|Romance
66931,432,5418,4.5,1328232881,"Bourne Identity, The (2002)",Action|Mystery|Thriller
66932,432,5445,4.0,1316391715,Minority Report (2002),Action|Crime|Mystery|Sci-Fi|Thriller
66940,432,5952,4.0,1316391585,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
66941,432,5989,4.0,1328050236,Catch Me If You Can (2002),Crime|Drama
66960,432,7153,4.0,1316391638,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
67010,432,58559,4.0,1315244558,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
67015,432,60069,4.0,1328232676,WALL·E (2008),Adventure|Animation|Children|Romance|Sci-Fi
67026,432,68954,4.0,1328232867,Up (2009),Adventure|Animation|Children|Drama
67040,432,79132,4.5,1315244386,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX

In [62]:
test_set = liked_movies.sample(frac=0.2, random_state=42)
test_set

,userId,movieId,rating,timestamp,title,genres
66845,432,1221,4.0,1315243038,"Godfather: Part II, The (1974)",Crime|Drama
66841,432,1200,4.0,1328232756,Aliens (1986),Action|Adventure|Horror|Sci-Fi
66835,432,858,4.0,1315243036,"Godfather, The (1972)",Crime|Drama
66902,432,3578,4.5,1315244401,Gladiator (2000),Action|Adventure|Drama
66811,432,253,4.5,1316391617,Interview with the Vampire: The Vampire Chroni...,Drama|Horror
66829,432,595,4.0,1316391532,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
67015,432,60069,4.0,1328232676,WALL·E (2008),Adventure|Animation|Children|Romance|Sci-Fi
66907,432,3793,4.0,1316391657,X-Men (2000),Action|Adventure|Sci-Fi

In [55]:
train_set = user_data.drop(test_set.index)
train_set

,userId,movieId,rating,timestamp,title,genres
66798,432,1,2.5,1316391457,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
66799,432,2,4.0,1316391739,Jumanji (1995),Adventure|Children|Fantasy
66803,432,47,4.0,1315244565,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
66804,432,50,3.0,1315243055,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
66805,432,110,4.0,1315245004,Braveheart (1995),Action|Drama|War
...,...,...,...,...,...,...
66967,432,7438,2.5,1328232790,Kill Bill: Vol. 2 (2004),Action|Drama|Thriller
66997,432,48516,2.5,1315244545,"Departed, The (2006)",Crime|Drama|Thriller
67010,432,58559,4.0,1315244558,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
67026,432,68954,4.0,1328232867,Up (2009),Adventure|Animation|Children|Drama
67040,432,79132,4.5,1315244386,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX

In [56]:
print(f"User {user_id} History: {len(train_set)} movies.")
print(f"Hidden Targets: {len(test_set)} movies (We want to find these!)")
print(f"First 5 Hidden Movies: \n{test_set['title'].head(5).values}")

User 432 History: 68 movies.
Hidden Targets: 8 movies (We want to find these!)
First 5 Hidden Movies:
['Godfather: Part II, The (1974)' 'Aliens (1986)' 'Godfather, The (1972)'
 'Gladiator (2000)'
 'Interview with the Vampire: The Vampire Chronicles (1994)']

In [57]:
# Create the variable your loop expects
my_ratings = train_set[['title', 'rating']] 

similar_movies = pd.DataFrame()

print("Running Recommender System...")

# --- YOUR EXACT LOOP CODE ---
for index, row in my_ratings.iterrows():
    my_movie = row['title']
    my_rating = row['rating']
    weight = my_rating - 2.5 # The weight logic
    
    if my_movie in movie_matrix.columns:
        # Calculate correlation
        corr_scores = movie_matrix.corrwith(movie_matrix[my_movie])
        
        # Apply weight
        weighted_scores = corr_scores * weight
        
        # Add to pile
        similar_movies = pd.concat([similar_movies, weighted_scores], axis=1)

# Sum and Sort
final_scores = similar_movies.sum(axis=1)
final_scores = final_scores.sort_values(ascending=False)

# Remove movies the user has ALREADY seen (from the training set)
recommendations = final_scores.drop(train_set['title'], errors='ignore')

print("System Finished!")

Running Recommender System...
System Finished!

In [63]:
# Get Top 20 Recommendations
top_recs = recommendations.head(40).index.tolist()

# Check for Hits
hits = 0
found_movies = []

for movie in test_set['title']:
    if movie in top_recs:
        hits += 1
        found_movies.append(movie)

print(f"\n--- RESULTS FOR USER {user_id} ---")
print(f"Hidden Movies Found: {hits} out of {len(test_set)}")
print(f"Accuracy (Recall): {(hits / len(test_set)) * 100:.1f}%")
print(f"Movies Successfully Predicted: {found_movies}")

--- RESULTS FOR USER 432 ---
Hidden Movies Found: 6 out of 8
Accuracy (Recall): 75.0%
Movies Successfully Predicted: ['Godfather: Part II, The (1974)', 'Aliens (1986)', 'Godfather, The (1972)', 'Gladiator (2000)', 'WALL·E (2008)', 'X-Men (2000)']

# SVD recommendations

In [64]:
import pandas as pd
import numpy as np
from scipy.sparse.linalg import svds
from sklearn.metrics import mean_squared_error
from math import sqrt

In [66]:
movies

,movieId,title,genres,metadata,soup
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure Animation Children Comedy Fantasy,toy story (1995) adventure animation children ...
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure Children Fantasy,jumanji (1995) adventure children fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy Romance,grumpier old men (1995) comedy romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy Drama Romance,waiting to exhale (1995) comedy drama romance
4,5,Father of the Bride Part II (1995),Comedy,Comedy,father of the bride part ii (1995) comedy
...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,Action Animation Comedy Fantasy,black butler: book of the atlantic (2017) acti...
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,Animation Comedy Fantasy,no game no life: zero (2017) animation comedy ...
9739,193585,Flint (2017),Drama,Drama,flint (2017) drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,Action Animation,bungo stray dogs: dead apple (2018) action ani...
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,Comedy,andrew dice clay: dice rules (1991) comedy

In [67]:
R_df = ratings.pivot(index='userId', columns='movieId', values='rating').fillna(0)
R_df

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
R = R_df.values
R

array([[4. , 0. , 4. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [2.5, 2. , 2. , ..., 0. , 0. , 0. ],
       [3. , 0. , 0. , ..., 0. , 0. , 0. ],
       [5. , 0. , 0. , ..., 0. , 0. , 0. ]])

In [70]:
user_rating_mean = np.mean(R, axis=1)
user_rating_mean

array([0.10417524, 0.01177499, 0.00976964, 0.07897984, 0.01645413,
       0.11281366, 0.05049362, 0.01727684, 0.01542575, 0.0472028 ,
       0.02488688, 0.01444879, 0.01162073, 0.01676265, 0.04787125,
       0.03753599, 0.04545455, 0.19266763, 0.18850267, 0.08936652,
       0.14854998, 0.03146853, 0.04540313, 0.04128959, 0.01285479,
       0.00699301, 0.04925956, 0.1770362 , 0.03450226, 0.01655697,
       0.02015631, 0.03938708, 0.06077746, 0.03023447, 0.0096668 ,
       0.01624846, 0.00894694, 0.02581242, 0.04113534, 0.03990128,
       0.07260387, 0.16135335, 0.0533731 , 0.01655697, 0.15903949,
       0.01727684, 0.04396339, 0.0136775 , 0.00920403, 0.08864665,
       0.13939737, 0.05985191, 0.01028383, 0.01028383, 0.00730152,
       0.01799671, 0.16608392, 0.04494035, 0.04792267, 0.00843274,
       0.01624846, 0.15364048, 0.10119292, 0.2003805 , 0.01408885,
       0.14263677, 0.01470588, 0.41901481, 0.02067051, 0.02756067,
       0.01295763, 0.01923077, 0.08016248, 0.07774578, 0.02293295,
       0.03774167, 0.01192925, 0.0198478 , 0.02766351, 0.07316948,
       0.00740436, 0.07892842, 0.04015837, 0.11116824, 0.01295763,
       0.02828054, 0.00853558, 0.02324146, 0.18500617, 0.02262443,
       0.20079186, 0.00971822, 0.04278075, 0.01748252, 0.07018717,
       0.03116002, 0.01552859, 0.0370218 , 0.02108186, 0.06005759,
       0.02231592, 0.01933361, 0.15148087, 0.09846771, 0.30563554,
       0.01506582, 0.0136775 , 0.03116002, 0.04206088, 0.01953928,
       0.22187371, 0.02401275, 0.05625257, 0.01095228, 0.04339778,
       0.03074866, 0.05666392, 0.00863842, 0.09234883, 0.00771288,
       0.01964212, 0.13651789, 0.02324146, 0.02051625, 0.14289387,
       0.01285479, 0.00704443, 0.01480872, 0.05645825, 0.010181  ,
       0.02442411, 0.10844303, 0.01079803, 0.01285479, 0.10417524,
       0.03784451, 0.05769231, 0.00796997, 0.04278075, 0.21878856,
       0.06113739, 0.01491156, 0.02426985, 0.04776841, 0.00791855,
       0.01033525, 0.00694159, 0.01845948, 0.01624846, 0.00956397,
       0.02149321, 0.02606952, 0.04082682, 0.01532291, 0.01707116,
       0.15112094, 0.0075072 , 0.00915261, 0.03265117, 0.12170917,
       0.01537433, 0.01655697, 0.00709585, 0.01573427, 0.02365282,
       0.07959687, 0.06118881, 0.04314068, 0.11754422, 0.017174  ,
       0.03907857, 0.01023241, 0.00894694, 0.02519539, 0.00874126,
       0.0150144 , 0.31381119, 0.03239408, 0.02684081, 0.00879268,
       0.0356849 , 0.35278692, 0.02241876, 0.05105923, 0.01707116,
       0.09481695, 0.10016454, 0.02169889, 0.00843274, 0.02653229,
       0.03270259, 0.00915261, 0.0136775 , 0.00714726, 0.0678733 ,
       0.01295763, 0.01388318, 0.08257919, 0.12674825, 0.13086179,
       0.04638009, 0.1582682 , 0.01779103, 0.03378239, 0.01074661,
       0.01038667, 0.0059132 , 0.0088441 , 0.01527149, 0.05789798,
       0.03573632, 0.09157754, 0.03306253, 0.00647882, 0.03938708,
       0.06180584, 0.17410531, 0.00899835, 0.17189428, 0.08437886,
       0.14047717, 0.08139654, 0.02524681, 0.02365282, 0.0281777 ,
       0.18125257, 0.04062114, 0.00961538, 0.02498972, 0.04087824,
       0.00951255, 0.28815302, 0.05090498, 0.07280954, 0.02437269,
       0.01223776, 0.01727684, 0.01665981, 0.11553887, 0.05152201,
       0.0311086 , 0.01295763, 0.01532291, 0.03609626, 0.00586179,
       0.08921226, 0.05779515, 0.01964212, 0.39762443, 0.01172357,
       0.01151789, 0.01640271, 0.02103044, 0.05198478, 0.01162073,
       0.07059852, 0.00658165, 0.01079803, 0.00930687, 0.05877211,
       0.02103044, 0.01820239, 0.08026532, 0.02051625, 0.05614973,
       0.06478815, 0.02447552, 0.04339778, 0.01079803, 0.01316331,
       0.01408885, 0.01156931, 0.02262443, 0.44791238, 0.16937474,
       0.0185109 , 0.01028383, 0.00796997, 0.06602221, 0.07861991,
       0.00694159, 0.09831345, 0.01192925, 0.03362814, 0.01465446,
       0.04128959, 0.04098108, 0.34132044, 0.00894694, 0.1137392 ,
       0.01357466, 0.15142945, 0.00565611, 0.11733854, 0.01578568,
       0.01156931, 0.01923077, 0.22824969, 0.00863842, 0.01414027,
       0.03892431, 0.01316331, 0.02128754, 0.08597285, 0.27324146,
       0.03820444, 0.26727684, 0.0286919 , 0.04067256, 0.02324146,
       0.00673591, 0.08504731, 0.12001234, 0.04010695, 0.01141506,
       0.0163513 , 0.07250103, 0.33952077, 0.01593994, 0.0072501 ,
       0.02056767, 0.03753599, 0.03198272, 0.00678733, 0.09841629,
       0.06278281, 0.02025915, 0.08458453, 0.00678733, 0.09373715,
       0.06267997, 0.09882764, 0.00678733, 0.05414439, 0.01059235,
       0.02488688, 0.03331962, 0.01177499, 0.15528589, 0.01213492,
       0.02031057, 0.01995064, 0.02462978, 0.02673797, 0.02488688,
       0.06211436, 0.01645413, 0.02642945, 0.01419169, 0.01336898,
       0.05316742, 0.11430481, 0.03229124, 0.08679556, 0.01038667,
       0.11949815, 0.1558515 , 0.01372892, 0.0260181 , 0.00863842,
       0.03172563, 0.04756273, 0.010181  , 0.00904977, 0.07836281,
       0.0125977 , 0.07342657, 0.1370835 , 0.04499177, 0.03393665,
       0.01917935, 0.08144796, 0.03280543, 0.0123406 , 0.01326615,
       0.05558412, 0.05270465, 0.01974496, 0.01254628, 0.46009872,
       0.17266557, 0.10499794, 0.01326615, 0.02221308, 0.07034142,
       0.01923077, 0.3441485 , 0.01079803, 0.01439737, 0.03198272,
       0.14747018, 0.00822707, 0.04859111, 0.00699301, 0.01912793,
       0.00904977, 0.00935829, 0.0201049 , 0.01460304, 0.01995064,
       0.02612094, 0.01902509, 0.01316331, 0.02097902, 0.04946524,
       0.00668449, 0.00930687, 0.05933772, 0.04977376, 0.06972439,
       0.04257507, 0.04082682, 0.02540107, 0.94112505, 0.03948992,
       0.0160942 , 0.03074866, 0.03481078, 0.0606232 , 0.05542986,
       0.01563143, 0.03177705, 0.00879268, 0.05213904, 0.11116824,
       0.03331962, 0.02678939, 0.08144796, 0.02375566, 0.02231592,
       0.00560469, 0.09749074, 0.00853558, 0.09060058, 0.01866516,
       0.03465652, 0.04771699, 0.21909708, 0.00889552, 0.01321473,
       0.0209276 , 0.00262238, 0.01568285, 0.01645413, 0.03054299,
       0.02776635, 0.03105718, 0.54581448, 0.01285479, 0.02097902,
       0.01326615, 0.09466269, 0.1260798 , 0.0174311 , 0.02025915,
       0.01686549, 0.01779103, 0.02519539, 0.01162073, 0.03542781,
       0.00817565, 0.15939942, 0.01285479, 0.05327026, 0.04915673,
       0.04566022, 0.00771288, 0.01151789, 0.17564788, 0.02889757,
       0.01115796, 0.01228918, 0.01300905, 0.73683669, 0.07029   ,
       0.02612094, 0.23056355, 0.00637598, 0.06180584, 0.28157137,
       0.00894694, 0.04483752, 0.2709276 , 0.10787742, 0.00915261,
       0.02313863, 0.01809955, 0.04432332, 0.20110037, 0.03671329,
       0.027355  , 0.04812834, 0.02313863, 0.00956397, 0.10926573,
       0.010181  , 0.01871658, 0.01460304, 0.01064377, 0.0286919 ,
       0.01480872, 0.0123406 , 0.03265117, 0.03419375, 0.01331756,
       0.01408885, 0.00730152, 0.00529617, 0.15446318, 0.03223982,
       0.02205882, 0.01943645, 0.01280337, 0.135181  , 0.01295763,
       0.00987248, 0.09815919, 0.00874126, 0.01156931, 0.07424928,
       0.01480872, 0.07877417, 0.0361991 , 0.04658577, 0.1821267 ,
       0.02498972, 0.07075278, 0.02606952, 0.00822707, 0.01048951,
       0.00853558, 0.0220074 , 0.01712258, 0.20346565, 0.00822707,
       0.01398601, 0.01964212, 0.01701974, 0.01486014, 0.01727684,
       0.03033731, 0.0407754 , 0.03481078, 0.00987248, 0.00796997,
       0.02262443, 0.00894694, 0.01095228, 0.00791855, 0.01182641,
       0.04699712, 0.06031469, 0.0370218 , 0.03661045, 0.20536816,
       0.0134204 , 0.01069519, 0.02262443, 0.04730564, 0.16803784,
       0.17513369, 0.09723365, 0.07229535, 0.05779515, 0.01090086,
       0.02694364, 0.08890374, 0.00976964, 0.00822707, 0.06710202,
       0.02961744, 0.0657137 , 0.12952489, 0.00935829, 0.01172357,
       0.00637598, 0.05902921, 0.0110037 , 0.02982312, 0.1582682 ,
       0.01799671, 0.02319005, 0.01897367, 0.03506787, 0.02720074,
       0.09337721, 0.06746195, 0.01871658, 0.01655697, 0.25123406,
       0.01820239, 0.03465652, 0.0346051 , 0.09363431, 0.00863842,
       0.14772727, 0.18120115, 0.00822707, 0.6732826 , 0.23472851,
       0.04596874, 0.04709996, 0.34018922, 0.03578774, 0.0729638 ,
       0.41937474, 0.07280954, 0.26784245, 0.01244344, 0.49388112])

In [71]:
R_norm = R - user_rating_mean.reshape(-1, 1)
R_norm

array([[ 3.89582476, -0.10417524,  3.89582476, ..., -0.10417524,
        -0.10417524, -0.10417524],
       [-0.01177499, -0.01177499, -0.01177499, ..., -0.01177499,
        -0.01177499, -0.01177499],
       [-0.00976964, -0.00976964, -0.00976964, ..., -0.00976964,
        -0.00976964, -0.00976964],
       ...,
       [ 2.23215755,  1.73215755,  1.73215755, ..., -0.26784245,
        -0.26784245, -0.26784245],
       [ 2.98755656, -0.01244344, -0.01244344, ..., -0.01244344,
        -0.01244344, -0.01244344],
       [ 4.50611888, -0.49388112, -0.49388112, ..., -0.49388112,
        -0.49388112, -0.49388112]])

In [72]:
R.shape

(610, 9724)

In [73]:
U, sigma, Vt = svds(R_norm, k=50)
print(U)
print(sigma)
print(Vt)

[[ 0.01716626  0.00032694  0.01194615 ...  0.00335838 -0.06213084
   0.0596384 ]
 [ 0.00501697 -0.0010387   0.01505205 ... -0.0012344   0.01767432
   0.00626322]
 [-0.00065179  0.00538272 -0.00649223 ...  0.00067537 -0.00203417
   0.00064958]
 ...
 [ 0.16117225  0.13376441 -0.05557292 ... -0.01464468 -0.01227985
   0.11854893]
 [-0.0089301  -0.00652333 -0.00537419 ... -0.04097903 -0.01400112
   0.00856716]
 [-0.01039005 -0.00880112  0.06333814 ...  0.06183579  0.20316391
   0.12143586]]
[ 67.86628347  68.1967072   69.02678246  69.4170401   69.91863747
  70.02091789  70.19408599  71.67445157  72.43371861  73.21879553
  73.43760593  74.02644882  74.28978377  74.9207733   75.17528213
  75.59325141  76.70227225  77.35717925  78.39405157  79.04344482
  79.21217131  80.56747647  81.5467832   82.1973482   83.04447645
  85.11688914  85.74871886  86.51711471  87.91550637  90.33575237
  90.9340682   92.26271695  93.39976829  97.10067118  99.28906754
  99.82361796 101.84794614 105.97367358 107.04782929 109.20838712
 112.80840902 120.61532345 122.64724436 134.58721632 139.637245
 153.93097112 163.73084057 184.86187801 231.22453421 474.20606204]
[[-5.06053498e-02  1.46261894e-03  2.28232417e-03 ... -1.42764417e-03
  -1.42764417e-03  2.96452853e-03]
 [-2.95078801e-02  2.17971445e-02 -2.25072247e-02 ... -2.92507189e-03
  -2.92507189e-03  9.95934144e-05]
 [-6.65561487e-02 -1.43370497e-02  2.64013814e-02 ... -4.79377861e-04
  -4.79377861e-04 -1.49239941e-03]
 ...
 [-6.77263279e-02 -6.97142996e-02 -2.91611099e-02 ... -2.24798857e-03
  -2.24798857e-03 -2.06691001e-03]
 [-2.84008740e-02 -2.36032577e-03 -2.47048049e-02 ...  7.01753154e-04
   7.01753154e-04  1.36888991e-03]
 [ 7.60983302e-02  3.84874039e-02  1.24439904e-02 ... -5.10178162e-03
  -5.10178162e-03 -4.81883687e-03]]

In [74]:
sigma = np.diag(sigma)
sigma

array([[ 67.86628347,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,  68.1967072 ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        ,  69.02678246, ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [  0.        ,   0.        ,   0.        , ..., 184.86187801,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
        231.22453421,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        , 474.20606204]])

In [75]:
# 1. Multiply U * Sigma * Vt
# 2. Add the user averages back (Re-mean)
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_rating_mean.reshape(-1, 1)

# Turn into DataFrame for easy reading
preds_df = pd.DataFrame(all_user_predicted_ratings, columns=R_df.columns, index=R_df.index)

print("Predictions Generated for all 600+ users and 9000+ movies!")

Predictions Generated for all 600+ users and 9000+ movies!

In [77]:
# Get the actual ratings (mask out the zeros)
actual_values = R[R.nonzero()]
predicted_values = all_user_predicted_ratings[R.nonzero()]



# Calculate RMSE
rmse = sqrt(mean_squared_error(actual_values, predicted_values))

print(f"Model RMSE: {rmse:.4f}")
# Logic: If RMSE is 0.8, it means our prediction is usually within 0.8 stars of the truth.

Model RMSE: 1.9965

In [81]:
def recommend_movies(user_id, preds_df, movies_df, original_ratings_df, num_recommendations=10):
    
    # 1. Get User's Predictions
    user_row_number = user_id - 1 
    sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False)
    
    # 2. Get User's History
    user_data = original_ratings_df[original_ratings_df.userId == user_id]
    already_seen = user_data['movieId'].tolist()
    
    # 3. Filter movies
    # Step A: Remove movies already seen
    recommendations = movies_df[~movies_df['movieId'].isin(already_seen)].copy()
    
    # Step B: Remove movies that have NO ratings (This fixes the KeyError!)
    # We only keep movies that exist as columns in our prediction matrix
    recommendations = recommendations[recommendations['movieId'].isin(preds_df.columns)]
    
    # 4. Add Predictions & Sort
    recommendations['Predicted_Rating'] = recommendations['movieId'].apply(lambda x: sorted_user_predictions[x])
    recommendations = recommendations.sort_values('Predicted_Rating', ascending=False)
    
    return recommendations.head(num_recommendations)

# --- TEST IT AGAIN ---
user_id = 432
recs = recommend_movies(user_id, preds_df, movies, ratings)

print(f"\n--- Top 10 SVD Recommendations for User {user_id} ---")
print(recs[['title', 'genres', 'Predicted_Rating']])

--- Top 10 SVD Recommendations for User 432 ---
                                             title  \
1503                    Saving Private Ryan (1998)
5374                       Incredibles, The (2004)
1730    Life Is Beautiful (La Vita è bella) (1997)
123                               Apollo 13 (1995)
4909  Eternal Sunshine of the Spotless Mind (2004)
5917                          Batman Begins (2005)
31       Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
7010                   Inglourious Basterds (2009)
5269                  Bourne Supremacy, The (2004)
5734                           Hotel Rwanda (2004)

                                          genres  Predicted_Rating
1503                            Action|Drama|War          3.541606
5374  Action|Adventure|Animation|Children|Comedy          2.858654
1730                    Comedy|Drama|Romance|War          2.795442
123                         Adventure|Drama|IMAX          2.696377
4909                        Drama|Romance|Sci-Fi          2.553789
5917                           Action|Crime|IMAX          2.500540
31                       Mystery|Sci-Fi|Thriller          2.499282
7010                            Action|Drama|War          2.493656
5269                       Action|Crime|Thriller          2.483173
5734                                   Drama|War          2.152376

# SVD using Gradient Descent

In [82]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# ==========================================
# 1. LOAD & MAP DATA
# ==========================================

# We need to map Movie IDs and User IDs to a clean sequence (0, 1, 2, 3...)
# because the original IDs skip numbers (e.g., we have movie 1 and movie 5000)
user_ids = ratings['userId'].unique().tolist()
user_to_index = {x: i for i, x in enumerate(user_ids)}
index_to_user = {i: x for i, x in enumerate(user_ids)}

movie_ids = ratings['movieId'].unique().tolist()
movie_to_index = {x: i for i, x in enumerate(movie_ids)}
index_to_movie = {i: x for i, x in enumerate(movie_ids)}

ratings['user_idx'] = ratings['userId'].map(user_to_index)
ratings['movie_idx'] = ratings['movieId'].map(movie_to_index)

# Split Train/Test to measure accuracy
train, test = train_test_split(ratings, test_size=0.2, random_state=42)

# ==========================================
# 2. THE SGD ALGORITHM (The Netflix Solver)
# ==========================================
class SGD_MF:
    def __init__(self, n_users, n_items, n_factors=20, lr=0.01, reg=0.02):
        self.n_users = n_users
        self.n_items = n_items
        self.n_factors = n_factors
        self.lr = lr   # Learning Rate (How fast we learn)
        self.reg = reg # Regularization (Prevent over-memorizing)
        
        # Initialize Latent Factors with random noise
        # (Users Matrix and Movies Matrix)
        self.P = np.random.normal(scale=1./n_factors, size=(n_users, n_factors))
        self.Q = np.random.normal(scale=1./n_factors, size=(n_items, n_factors))
        
        # Initialize Biases (Some users just rate higher, some movies are just better)
        self.b_u = np.zeros(n_users)
        self.b_i = np.zeros(n_items)
        self.b = 0 # Global Average

    def fit(self, X, n_epochs=10):
        # Calculate global average
        self.b = np.mean(X[:, 2])
        
        print(f"Training on {len(X)} ratings for {n_epochs} epochs...")
        
        for epoch in range(n_epochs):
            # Shuffle data for randomness
            np.random.shuffle(X)
            
            sq_error = 0
            
            # THE LEARNING LOOP
            for u, i, r in X:
                u, i = int(u), int(i)
                
                # 1. Predict
                # Prediction = Global + UserBias + ItemBias + (UserFactors * ItemFactors)
                pred = self.b + self.b_u[u] + self.b_i[i] + np.dot(self.P[u], self.Q[i])
                
                # 2. Calculate Error
                err = r - pred
                sq_error += err**2
                
                # 3. Update Biases (Gradient Descent)
                self.b_u[u] += self.lr * (err - self.reg * self.b_u[u])
                self.b_i[i] += self.lr * (err - self.reg * self.b_i[i])
                
                # 4. Update Latent Factors
                # We want to move P and Q in the direction that reduces error
                p_u_old = self.P[u].copy() # Keep old value for Q update
                self.P[u] += self.lr * (err * self.Q[i] - self.reg * self.P[u])
                self.Q[i] += self.lr * (err * p_u_old - self.reg * self.Q[i])
            
            # Print RMSE every epoch
            rmse = np.sqrt(sq_error / len(X))
            print(f"Epoch {epoch+1}/{n_epochs} - RMSE: {rmse:.4f}")
            
    def predict(self, u_idx, i_idx):
        # Make a prediction for a single user/movie pair
        if u_idx >= self.n_users or i_idx >= self.n_items:
            return self.b # Default to average if unknown
        return self.b + self.b_u[u_idx] + self.b_i[i_idx] + np.dot(self.P[u_idx], self.Q[i_idx])

# ==========================================
# 3. RUN IT
# ==========================================
# Convert dataframe to numpy array [User, Movie, Rating]
train_data = train[['user_idx', 'movie_idx', 'rating']].values
test_data = test[['user_idx', 'movie_idx', 'rating']].values

# Initialize Model
model = SGD_MF(n_users=len(user_ids), n_items=len(movie_ids), n_factors=20, lr=0.01, reg=0.02)

# Train (Watch the RMSE drop!)
model.fit(train_data, n_epochs=10)

# ==========================================
# 4. EVALUATE ON HIDDEN DATA
# ==========================================
print("\nEvaluating on Test Set...")
errors = []
for u, i, r in test_data:
    pred = model.predict(int(u), int(i))
    errors.append((r - pred)**2)

final_rmse = np.sqrt(np.mean(errors))
print(f"Final Test RMSE: {final_rmse:.4f}")

Training on 80668 ratings for 10 epochs...
Epoch 1/10 - RMSE: 0.9411
Epoch 2/10 - RMSE: 0.8899
Epoch 3/10 - RMSE: 0.8715
Epoch 4/10 - RMSE: 0.8600
Epoch 5/10 - RMSE: 0.8512
Epoch 6/10 - RMSE: 0.8439
Epoch 7/10 - RMSE: 0.8373
Epoch 8/10 - RMSE: 0.8310
Epoch 9/10 - RMSE: 0.8242
Epoch 10/10 - RMSE: 0.8174

Evaluating on Test Set...
Final Test RMSE: 0.8784

In [83]:
# Function to get recommendations for a user
def get_sgd_recommendations(user_id, model, movies_df, ratings_df, n=10):
    # Map User ID to Index
    u_idx = user_to_index[user_id]
    
    # Get all movie indices
    all_movie_indices = np.arange(len(movie_ids))
    
    # Identify movies already seen
    seen_movie_ids = ratings_df[ratings_df['userId'] == user_id]['movieId'].values
    seen_indices = [movie_to_index[mid] for mid in seen_movie_ids if mid in movie_to_index]
    
    # Filter out seen movies
    candidates = [i for i in all_movie_indices if i not in seen_indices]
    
    # Predict score for every candidate
    predictions = []
    for i_idx in candidates:
        pred_rating = model.predict(u_idx, i_idx)
        predictions.append((i_idx, pred_rating))
        
    # Sort by highest rating
    predictions.sort(key=lambda x: x[1], reverse=True)
    top_n = predictions[:n]
    
    # Convert back to Titles
    results = []
    for i_idx, score in top_n:
        original_movie_id = index_to_movie[i_idx]
        title = movies_df[movies_df['movieId'] == original_movie_id]['title'].values[0]
        results.append((title, score))
        
    return pd.DataFrame(results, columns=['Title', 'Predicted_Rating'])


# Recommend for User 432
print(get_sgd_recommendations(432, model, movies, ratings))

                                               Title  Predicted_Rating
0  Dr. Strangelove or: How I Learned to Stop Worr...          4.279439
1                                 Rear Window (1954)          4.272256
2                         Princess Bride, The (1987)          4.220991
3    Grand Day Out with Wallace and Gromit, A (1989)          4.213075
4                          Lawrence of Arabia (1962)          4.208880
5                     Philadelphia Story, The (1940)          4.205653
6                           Great Escape, The (1963)          4.193504
7                   Streetcar Named Desire, A (1951)          4.187953
8                              Cool Hand Luke (1967)          4.185552
9                               Touch of Evil (1958)          4.174280